.closedlogo {
    border-radius: 50%;
}

.closed_sidebar_nav{
    height: 76px;
    background-color: #1B91D5;
}

.closed_sidebar_body{
    background-color: #1B91D5;
    height: calc(100vh - 76px);
    padding: 20px 0 0 0;
    overflow: auto;
}

.closed_sidebar_ul{
    list-style: none;
    padding: 0;
}

.closed_sidebar_li{
    color: white;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.closed_sidebar_li:hover{
    background-color: #FFEB32;
    color: black;
    cursor: pointer;
}