.toggle_btn {
    background-color: #FFEB32;
    cursor: pointer;
}

.navbar {
    background-color: #1b91d5;
    height: 76px;
}

.search_input{
    border-radius: 20px;
    padding: .3em 1em;
    width: 12rem;
    transition: all 0.5s ease !important;
    border: none;
}

.search_input:focus{
    outline: none;
    color: #101332;
    width: 17rem;
}

.profile_image {
    border-radius: 50%;
    /* border: 1px solid black; */

}

.small_profile{
    background-color: #FFEB32;
    height: 100%;
}

.profile_name{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}