.toggle_btn {
    background-color: #FFEB32;
}

.navbar {
    background-color: #1b91d5;
    height: 66px;
}

.search_input{
    border-radius: 20px;
    padding: .3em 1em;
    width: 12rem;
    transition: all 0.5s ease !important;
    border: none;
}

.search_input:focus{
    outline: none;
    color: #101332;
    width: 17rem;
}