.logo {
    border-radius: 50%;
}

.sidebar_nav{
    height: 66px;
    background-color: #1B91D5;
}

.institute_name{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.sidebar_body{
    background-color: #1B91D5;
    height: calc(100vh - 66px);
    padding: 20px 0 0 0;
    overflow: auto;
}

.sidebar_ul{
    list-style: none;
    padding: 0;
}

.sidebar_li{
    color: white;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
}

.sidebar_li:hover{
    background-color: #FFEB32;
    color: black;
    cursor: pointer;
}